<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>A spooky Halloween tale</title>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the blanks to write your story!</h1>
      <div>
        <form action="/halloween" method="post">

          <div class="form-group">
            <label for="noun">A noun</label>
            <input id="noun" name = "noun" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="verb_ing">A verb ending in 'ing'</label>
            <input id="verb_ing" name = "verb_ing" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun2">A noun</label>
            <input id="noun2" name = "noun2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun3">A noun</label>
            <input id="noun3" name = "noun3" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun_pl">A plural noun</label>
            <input id="noun_pl" name = "noun_pl" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="bodypart">A part of the body</label>
            <input id="bodypart" name = "bodypart" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun4">A noun</label>
            <input id="noun4" name = "noun4" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="verb_ing2">A verb ending in 'ing'</label>
            <input id="verb_ing2" name = "verb_ing2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="bodypart_pl">A part of the body (plural)</label>
            <input id="bodypart_pl" name = "bodypart_pl" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="verb_ing3">A verb ending in 'ing'</label>
            <input id="verb_ing3" name = "verb_ing3" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="furniture">A piece of furniture</label>
            <input id="furniture" name = "furniture" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun5">A noun</label>
            <input id="noun5" name = "noun5" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="bodypart2">A part of the body</label>
            <input id="bodypart2" name = "bodypart2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="adverb">An adverb</label>
            <input id="adverb" name = "adverb" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="bodypart3">A part of the body</label>
            <input id="bodypart3" name = "bodypart3" class="form-control" type="text">
          </div>

          <button type="submit" class="btn">Show me the story!</button>
        </form>
      </div>
    </div>
</body>