<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Popular Pets</title>
  </head>
  <style>
    body {border: 5px solid red; border-radius: 5px;}
  </style>
  <body>
    <div class="container">
      <h1>Fill in the blanks to write your story!</h1>
      <div>
        <form action="/puppy" method="post">
          <div class="form-group">
            <label for="person1">Noun</label>
            <input id="person1" name= "noun" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="person2">Adjective</label>
            <input id="person2" name = "adjective" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal</label>
            <input id="animal" name = "animal" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="verb">Adjective</label>
            <input id="verb" name = "adjective1" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal</label>
            <input id="animal" name = "animal2" class="form-control" type="text">
          </div>
           <div class="form-group">
            <label for="verb">Adjective</label>
            <input id="verb" name = "adjective2" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal</label>
            <input id="animal" name = "animal3" class="form-control" type="text">
          </div>
           <div class="form-group">
            <label for="verb">Adjective</label>
            <input id="verb" name = "adjective3" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal</label>
            <input id="animal" name = "animal4" class="form-control" type="text">
          </div>
           <div class="form-group">
            <label for="verb">Adjective</label>
            <input id="verb" name = "adjective4" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun">A food</label>
            <input id="noun" name = "noun1" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="noun">A liquid</label>
            <input id="noun" name = "noun2" class="form-control" type="text">
          </div>
           <div class="form-group">
            <label for="verb">Adjective</label>
            <input id="verb" name = "adjective5" class="form-control" type="text">
          </div>
          <div class="form-group">
            <label for="animal">An animal(plural)</label>
            <input id="animal" name = "animal4" class="form-control" type="text">
          </div>
           <div class="form-group">
            <label for="noun">A noun(plural)</label>
            <input id="noun" name = "noun3" class="form-control" type="text">
          </div>
           <div class="form-group">
            <label for="noun">A noun(plural)</label>
            <input id="noun" name = "noun4" class="form-control" type="text">
          </div>
           <div class="form-group">
            <label for="noun">A noun(plural)</label>
            <input id="noun" name = "noun5" class="form-control" type="text">
          </div>

          <button type="submit" class="btn">Show me the story!</button>
        </form>
      </div>
    </div>
</body>