<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="~/css/Stylesheet.css" rel="stylesheet" type="text/css" />
    <title>Choose your MadLib adventure</title>
  </head>
  <body style="font-family:'Indie Flower', cursive">

      <div class="container">
          <h1>MadLibs Selector</h1>
          <h3>Select a link below to go to your MadLibs form!</h3>
          <br>
          <a href="/form">Click here for a very basic story</a>
          <br>
          <a href="/puppy-form">Click here for a puppy story</a>
          <br>
          <a href="/halloween-form">Click here for a Halloween story</a>
      </div>
  </body>
</html>